.vscode/**
.vscode-test/**
out/test/**
testfiles/**
yaml/**
json/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
tslint.json
package-lock.json
vsc-extension-quickstart.md
images/*.ai
images/*.svg
